# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Model Files
*.pkl
*.joblib

# Temporary Files
temp/